.game-wrapper {
    filter: opacity(0);
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@keyframes roll-up {
    100% {
        transform: translateY(-100%);
    }
}

@keyframes fade-in-view {
    100% {
        filter: opacity(1);
    }
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blanchedalmond;
}

.title {
    position: fixed;
    top: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
}


.board {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 200px);
    gap: 5px;
    width: fit-content;
    background-color: rgb(170, 79, 223);
    padding: 40px;
    border-radius: 15px;
}

.tile {
    background-color: hotpink;
    text-align: center;
    line-height: 200px;
    font-size: 200px;
    font-family: monospace;
    color: bisque;
    border-radius: 5px;
}

.tile:nth-child(odd) {
    background-color: rgb(238, 128, 188);
}

.tile.win {
    filter: brightness(1.5);
    color:rgb(186, 211, 45)
}


.start-screen-wrapper {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.welcome {
    padding: 400px 0 0;
    font-family: monospace;
    font-size: 100px;
}

.ttt-welcome {
    color: red;
}

.ttt-welcome > span:hover {
    animation: shake 1s infinite;
}

.start-button {
    margin: 100px auto;
    width: 400px;
    height: 125px;
    background-color: lightsalmon;
    font-size: 55px;
    line-height: 125px;
    font-family: monospace;
    transition: 0.3s;
}

.play-text {
    color: red;
    font-weight: bold;
}

.start-button:hover {
    scale: 1.05;
    filter: brightness(1.1);
    transition: 0.3s;
    animation: shake 1s infinite;
    cursor: pointer;
}

.roll-up {
    animation: roll-up 2.5s forwards 0.2s;
}

.fade-in {
    display: flex;
    animation: fade-in-view 1s forwards;
}